html>
 <body>
  <p>%s
  <p>ImageDownloadUrl: %s
  <p><a href="/upload">Back to upload</a>
  <p><a href="/upload2">Back to uploadWithKey</a>
  <p><a href="/upload3">Back to uploadWithkeyAndCustomField</a>
  <p><img src="%s">
 </body>
</html>
<p>Find me in app/views/return/index.html.erb</p>
